.App {
  width: 90%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.modal {
  float: right;
  transform: translateY(-50%);
}

.filter-dropdown {
  float: right;
}

.ui.right.floated.button.new-trans-button {
  background-color: #FF8042;
  color: #fff;
}
/*
.ui.button {
  background-color: #FF8042;
  color: #fff;
} */

@media only screen and (max-width: 768px) {
  /* For everything smaller than 768px */
  .table-header {
    display: none!important;
  }
  .new-trans-button {
    float: right;
    transform: translateY(-50%);
  }
}

#spent {display:inline-block;margin-right:10px;}
#left {display:inline-block;} 

.content-container {
  /* border-style: solid; */
  float: left;
  border-radius: 15px;
  margin-top: 80px;
  margin-left: 210px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.transactions-container {
  border-radius: 25px;
  margin-top: 80px;
  margin-left: 180px;
  margin-right: 30px;
}

/* .sidenav {
  border-radius: 25px;
} */

.account-container {
  background-color: #D1D1D1;
}

.content-container.totalbalance {
  background-color: #fff;
  padding: 40px;
}

.content-container.categorycontainer {
  background-color: #FF8042;
  padding: 40px;
  color: #fff;
}

.content-container.categorytimeline {
  background-color: #fff;
  padding: 40px;
}

.footer-container {
  background-color: #D1D1D1;
  color: #000;
  margin-left: 180px;
  position: absolute;
  bottom: 0;
}

.left-text {
  display: inline-block;
  margin-right: 10px
}

.right-text {
  display: inline-block;
}

.profile-picture {
  width: 100px;
}

.ui.thin.left.sidebar {
  max-height: 100%;
  width: 150px;
  top: 40px;
}

.selected-link {
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
