.App {
  width: 90%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-logo-item {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  width: 130px;
}

.homepage-logo {
  height: 100px;
}

.modal {
  float: right;
  transform: translateY(-50%);
}

.filter-dropdown {
  float: right;
}

.ui.right.floated.button.new-trans-button {
  background-color: #FF8042;
  color: #fff;
}


@media only screen and (max-width: 768px) {
  /* For everything smaller than 768px */
  .table-header {
    display: none!important;
  }
  .new-trans-button {
    float: right;
    transform: translateY(-50%);
  }
}

#spent {
  display:inline-block;
  margin-right:200px;
}

#left {
  display:inline-block;
}

.content-container {
  /* border-style: solid; */
  float: left;
  border-radius: 15px;
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.homepage-container {
  padding: 30px;
  color: #fff;
  margin-top: 70px;
  margin-left: 140px;
  padding: 50px;
  height: 100vh;
  /* height: 1000%; */
  background: url("https://cdn.dribbble.com/users/934248/screenshots/3282460/circle-perspection_dribbble.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logged-out-homepage-container {
  padding: 30px;
  color: #fff;
  margin-top: 70px;
  margin-left: 0px;
  padding: 50px;
  height: 100vh;
  /* height: 1000%; */
  background: url("https://cdn.dribbble.com/users/934248/screenshots/3282460/circle-perspection_dribbble.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-container {
  margin-left: 140px;
  padding: 30px;
  margin-top: 70px;
}

.transactions-container {
  padding: 40px;
  margin-left: 140px;
  margin-top: 60px;
  height: 400vh;
  background-color: #D1D1D1;
  color: #333;
}

.transactions-table {
  padding: 20px
}

.account-container {
  background-color: #D1D1D1;
  padding: 40px;
  margin-left: 140px;
  height: 500vh;
  /* margin-top: 40px; */
  /* grid-template-columns: repeat(auto-fit, 100px); */
}

.content-container.totalbalance {
  background-color: #fff;
  padding: 40px;
}

#spentLeftChart {
  width: 100%;
}

#spentAreaChart {
  width: 100%;
}

.content-container.categorycontainer {
  background-color: #FF8042;
  padding: 40px;
  color: #fff;
  /* width: 400px; */
}

#categoryChart {
  width: 100%;
}

.content-container.categorytimeline {
  background-color: #fff;
  padding: 40px;
  /* width: 400px; */
}

#categoryAreaChart {
  width: 100%
}

.footer-container {
  background-color: #D1D1D1;
  color: #000;
  margin-left: 180px;
  position: absolute;
  bottom: 0;
}

.left-text {
  display: inline-block;
  margin-right: 10px
}

.right-text {
  display: inline-block;
}

.profile-picture {
  width: 100px;
}

.profile-container {
  padding: 100px;
  margin-left: 100px;
}

.ui.thin.left.sidebar {
  max-height: 100%;
  width: 150px;
  top: 71.38px;
}

.selected-link {
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
